
.root {
    -fx-background: #fbfbfb;

}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: BLACK;
    -fx-opacity: 1.0;
}


.button { 
   -fx-background-color: #3c5a74; 
   -fx-text-fill: white; 
   -fx-font: bold italic "Segoe UI Semibold";
   -fx-effect: dropshadow( one-pass-box , gray , 8 , 0.0 , 2 , 0 );
}

.button:hover {
    -fx-background-color: #3a3a3a;
}